<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.orders.OrdersMapper">
<!-- 查询用户订单 -->
<select id="getAll" resultType="Orders">
SELECT o.* FROM book_orders o inner join book_info i
on(i.id=o.bid)
<where>
  <if test="uid !=null">
     uid=#{uid}
  </if>
</where>
</select>
<!-- 书写一个map对象 -->
<resultMap type="Orders" id="oList">
  <association property="info" javaType="Info" resultMap="iList"></association>
</resultMap>
<resultMap type="info" id="iList" autoMapping="true">
  <id property="id" column="id"/>
</resultMap>
<!-- 添加订单 -->
<insert id="addOrders">
  INSERT INTO book_orders(oid,bid,`count`,curPrice,`date`,uid) 
  VALUES(#{oid},#{bid},#{count},#{curPrice},#{date},#{uid})
</insert>
</mapper>